@font-face {
	font-family: "Frutiger";
	src: url("../fonts/font/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix");
	src: url("../fonts/font/81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix") format("eot"), url("../fonts/font/087d8a95-3f25-4bae-a1d1-db9ddffd72f5.woff2") format("woff2"), url("../fonts/font/ab1bcdf7-9570-4cba-a8e3-3e39ddd861db.woff") format("woff"), url("../fonts/font/83c94878-06c8-442c-a7df-d520b0ced00b.ttf") format("truetype"), url("../fonts/font/29f3ff8a-1719-4e25-a757-53ee1a1114a5.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Frutiger";
	src: url("../fonts/font/381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix");
	src: url("../fonts/font/381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix") format("eot"), url("../fonts/font/db6ed4c5-5248-41f3-a6b5-4e8ff1d5ab06.woff2") format("woff2"), url("../fonts/font/38f88aba-a7d0-4a78-9323-ac58226d277e.woff") format("woff"), url("../fonts/font/1149176e-a9be-41bf-822e-275d9da199e5.ttf") format("truetype"), url("../fonts/font/cd75c3e3-c5b7-4a25-9498-cabe4e8a9076.svg#cd75c3e3-c5b7-4a25-9498-cabe4e8a9076") format("svg");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Frutiger";
	src: url("../fonts/font/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
	src: url("../fonts/font/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"), url("../fonts/font/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"), url("../fonts/font/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"), url("../fonts/font/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"), url("../fonts/font/7def0e34-f28d-434f-b2ec-472bde847115.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Frutiger";
	src: url("../fonts/font/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix");
	src: url("../fonts/font/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"), url("../fonts/font/8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"), url("../fonts/font/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"), url("../fonts/font/5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"), url("../fonts/font/eae74276-dd78-47e4-9b27-dac81c3411ca.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
	font-weight: 700;
	font-style: normal;
}


